<<<<<<< HEAD
<h1><%= t('newSubcategory') %></h1>
=======
<h1> <%= t('newSubcategory')%> </h1>
>>>>>>> ea0e156a9a507b655e0883bd9f0cb7c9c8aacf6e

<%= render 'form' %>

<%= link_to link_to t('back'), sous_categories_path %>
